/* colors */
$gray: #383838;
$gray-background: #f8f8f8;
$gray-line: #d6d6d6;
$gray-text: #797878;
$gray-hover: #444;
$dark-gray: #1d1d1d;
$dark-text: #494949;
$light-gray: #d2d2d2;
$light-border: #dbdbdb;
$yellow: #ffde00;
$dark-yellow: #e3c500;
$white: #fff;
$error: #dc143c;
