.container {
  display: flex;
  .image, .info {
    flex: 0 0 50%;
  }
  .image {
    img {
      max-width: 400px;
      object-fit: contain;
    }
  }
  .info {
    h2 {

    }
    p {

    }
    .nutritional {

    }
    .price {

    }
  }
}


//.dish-container {
//  .container {
//    .row {
//      .col-md-6 {
//        .dish-img {
//          .dish-img-conteiner {
//            img {
//              max-width: 400px;
//              height: auto;
//            }
//          }
//        }
//      }
//    }
//  }
//}
