<!-- todo  create merkup to product item -->

<div class="container">
  <div class="image">
    <img [src]="item.imageUrl" alt="name">
  </div>
  <div class="info">
    <h2>{{ item.name }}</h2>
    <p>{{ item.description }}</p>
    <div class="nutritional">
      <h3>Харчова цінність страви (грам):</h3>
    </div>
    <div class="price">
      <!--<input type="text" [value]="price">-->
      <p>{{ item.price }}</p>
    </div>
  </div>
</div>

<!--<p>-->
  <!--{{item.name}}-->
<!--</p>-->


<!--&lt;!&ndaDsh;<img src="{{item.imageUrl}}" alt="">&ndash;&gt;-->

<!--<div class="dish-container" *ngFor="let restaurant of restaurants">-->
  <!--<div class="container">-->
    <!--<div class="row">-->

      <!--<div class="col-md-6">-->
        <!--<div class="dish-img" [routerLink]='["brysketa-rostbif"]'>-->
          <!--<p>{{ restaurant.name }}</p>-->
          <!--<div class="dish-img-conteiner">-->
            <!--<img [src]="restaurant.imageUrl" alt="brysketa-rostbif.img">-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->

      <!--<div class="col-md-6">-->
        <!--<div class="dish-name">-->
          <!--<p>{{ restaurant.name }}</p>-->
        <!--</div>-->
        <!--<div class="storage">-->
          <!--Цільнозерновий хліб, ростбіф, паста з нуту, крем сир та карамелізована цибуля-->
        <!--</div>-->
        <!--<div class="nutritional-value">-->
          <!--<p>Харчова цінність страви (грам):</p>-->
          <!--<p>білки - <span>15,4</span>; </p>-->
          <!--<p>жири - <span>9</span>;</p>-->
          <!--<p>вуглуводи - <span>27</span>;</p>-->
          <!--<p>ккал - <span>250</span>;</p>-->
        <!--</div>-->
        <!--<div class="dish-price">-->
          <!--94 грн-->
          <!--&lt;!&ndash;<mat-form-field class="example-full-width">&ndash;&gt;-->
            <!--&lt;!&ndash;<input type="number" min="1" max="99" required matInput&ndash;&gt;-->
                   <!--&lt;!&ndash;[(ngModel)]="item" value="1" placeholder="1">&ndash;&gt;-->
          <!--&lt;!&ndash;</mat-form-field>&ndash;&gt;-->
          <!--<p *ngIf="item" class="full-price">Загальна сума: <span>{{ item * 94 }} грн</span> </p>-->
        <!--</div>-->

        <!--<div class="buy-link">-->
          <!--<a *ngIf="!makeOrder" (click)="orderProduct()">-->
            <!--<i class="fa fa-shopping-bag"></i>{{ buttonText }}-->
          <!--</a>-->
          <!--<a *ngIf="makeOrder" [routerLink]="['/order-restaurant']">-->
            <!--<i class="fa fa-shopping-bag"></i>{{ orderText }}-->
          <!--</a>-->
        <!--</div>-->
      <!--</div>-->

    <!--</div>-->
  <!--</div>-->
<!--</div>-->
